# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science.
- List commonly used libraries used by Data Scientists.
- List Science Tools.
- Examples of arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. ggplot2
2. Pandas
3. Numpy

|**Data Science Tools**|
|----|
|Jupyter Notebook|
|RStudio|
|VS Code|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [18]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [19]:
200/60

3.3333333333333335

## Author
Adriano